
*{
  box-sizing: border-box;

}

/*Importar Fontes*/


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');




/*Cores*/

:root {
    --verde3:#0B485B;
    --verde2:#19C1CE;
    --verde1:#07E5EB;
    --amarelo2:#F2BF4E;
    --amarelo1:#F4CA6D;
    --preto:#000000;
    --cinza5:#212429;
    --cinza4:#7E8A98;
    --cinza3:#97A1AC;
    --cinza2:#CFD3D8;
    --cinza1:#F1F3F5;
    --branco:#FFFFFF;
  }


  .HeadingLg {

    font-family: 'Darker Grotesque', sans-serif;
    font-size: 56px;
    line-height: 100%;
    font-weight: 900;

  }


  .HeadingMd{

    font-family: 'Darker Grotesque', sans-serif;
    font-size: 40px;
    line-height: 100%;
    font-weight: 900;

  }


  .HeadingSm{

    font-family: 'Darker Grotesque', sans-serif;
    font-size: 32px;
    line-height: 110%;
    font-weight: 900;

  }


  .HeadingXs{

    font-family: 'Darker Grotesque', sans-serif;
    font-size: 24px;
    line-height: 110%;
    font-weight: 900;

  }  

  .SubtitleSm {

    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    line-height: 140%;
    font-weight: 400 ;

  }

  .SubtitleXs {

    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    line-height: 100%;
    font-weight: 400 ;

  }
  .BodyLg {

    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    line-height: 150%;
    font-weight: 400 ;

  }

  .BodyMd {

    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400 ;

  }

  .BodySm {

    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    line-height: 150%;
    font-weight: 400 ;

  }

  /* Botões */

  button{
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    line-height:19.6px;
  }
  
  .btn1{
    min-width:200px;
    padding: 10px 30px 10px 30px;
    border: solid 3px var(--preto);
    background-color: var(--branco);
    font-weight:900;
    letter-spacing:2px;
    box-shadow: 0 8px 4px -6px var(--preto);
  }


  .btn2{
    min-width:180px;
    padding: 12px 30px 12px 30px;
    border: 0;
    background-color:#19C1CE;

    font-weight:900;
    letter-spacing:2px;
    box-shadow: 0 8px 4px -6px var(--preto);
  }
  
  .btn2::after{
    content: "→"
  }

/*Corpo*/

body{

  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Darker Grotesque', sans-serif;
  /*display: flex;*/
  box-sizing: border-box;
  

}


#header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: var(--branco);
  width: 100%;
  height: 100px;

}

ul{
  list-style: none;
}

.main-logo{

  width:174px;

}
  

  @media only screen and (max-width: 360px) {
   
    .HeadingLg{

        font-size: 40px;

    }

    .HeadingMd{

        font-size: 32px;
    }

    .HeadingSm{

        font-size: 24px;
    }

    .HeadingXs{

        font-size: 20px;
    }

    .SubtitleSm {

      font-size: 16px;
      
    }

    .SubtitleSm {

      font-size: 14px;
      
    }


  }